@import helper._
@()(implicit flash: Flash,request: RequestHeader)

@main("Reset Password"){
<div class="container">
    <h1>Reset your password!</h1>
    <br>
    <form method="post" action="@routes.UsersController.updatePassword()">
        @CSRF.formField
        <div>
            <label>User name: </label>
            <input type="text" id="username" name="username" placeholder="Enter User name" required>
        </div>
        <br>
        <div>
            <label>Enter new Password: </label>
            <input type="password" id="password" name="password" placeholder="Enter Password" required
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
            (Atleast 1 number,1 uppercase,1 lowercase letter & 8 or more characters.)
        </div>
        <br>
        <div>
            <label>Re-enter new Password: </label>
            <input type="password" id="re-password" name="verifyPassword" placeholder="Re-enter Password" required>
        </div>
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
</div>
}
@flash.get("Error")
